# 🔑 SpaceHub – Environment Variables Example
# Copie ce fichier et renomme-le en ".env" pour le développement local.

# Database (Supabase)
SPRING_DATASOURCE_URL=jdbc:postgresql://db.twcrtaxmsxkkuxhtgbtg.supabase.co:5432/postgres
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=.en3kUy$u$ZUrmW

# Cloudinary
CLOUDINARY_URL=cloudinary://956189567338865:XK5paaFDLSTdItWWV1zWExKvOOA@ds21jcass

# Security
JWT_SECRET=SpaceHubSecureSecretKey2024ChangeMe!

# Environments
SPRING_PROFILES_ACTIVE=dev
FRONTEND_URL=http://localhost:4200
