# 🔑 SpaceHub – Environment Variables Example
# Copie ce fichier et renomme-le en ".env" pour le développement local.

# Database (Supabase)
SPRING_DATASOURCE_URL=jdbc:postgresql://db.twcrtaxmsxkkuxhtgbtg.supabase.co:5432/postgres
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=.en3kUy$u$ZUrmW

# Cloudinary
CLOUDINARY_URL=cloudinary://233696619453349:ClcnJUSENQkgqP1DJtC8H-e6rlM@ds21jcass
CLOUDINARY_CLOUD_NAME=ds21jcass
CLOUDINARY_API_KEY=233696619453349
CLOUDINARY_API_SECRET=ClcnJUSENQkgqP1DJtC8H-e6rlM

# Security
JWT_SECRET=SpaceHubSecureSecretKey2024ChangeMe!

# Admin seed
ADMIN_EMAIL=admin@spacehub.com
ADMIN_PASSWORD=ChangeThisPassword!

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:4200,http://localhost

# Environments
SPRING_PROFILES_ACTIVE=dev
FRONTEND_URL=http://localhost:4200
